/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

/*Specification start*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
    background: #090A0A;
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
    color: inherit;
}

input:focus, button:focus { 
	outline: none 
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
}

input{
	padding: 0;
	margin: 0;
	border: none;
}

.container {
	width: 100%;
	margin: 0 auto;
    padding: 0 2.1%;
}

/*Specification end*/


/* MUSE-s0-central */
.s0-central-header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-top: 1.7vw;
    padding-bottom: 0.7vw;
    font-size: 2.6vw;
    letter-spacing: 0.15em;
    font-weight: 700;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
}

.s0-central-header__txt-inner {
    display: flex;
}

.s0-central-header__txt-item:first-of-type {
    margin-right: 1.15vw;
}

.s0-central-content {
    padding: 2%;
    position: relative;
}



.s0-central-content__qr {
    position: absolute;
    top: 1.6vw;
    left: 1.7vw;
    width: 8vw;
    height: auto;
    object-fit: contain;
}

.s0-central-content__logo {
    margin: 0 auto;
    display: block;
    margin-top: 5.8vw;
    width: 41vw;
    height: 10vw;
    object-fit: contain;
}

.s0-central-content-coll {
    width: 100%;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
    border-radius: 8px;
    padding: 0.9vw 2vw 1vw;
    margin-top: 4.7vw;
}

.s0-central-content-coll__txt-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s0-central-content-coll__txt-line {
    width: 30vw;
    background: #DFAF89;
    height: 0.08vw;
}

.s0-central-content-coll__txt-line_width {
    width: 29vw;
}

.s0-central-content-coll__txt {
    margin: 0 1.5vw;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 2.35vw;
}

.s0-central-content-coll__gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6vw;
    margin-bottom: 1.8vw;
}

.s0-central-content-coll__gallery-item {
    position: relative;
    width: 14.4vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.25));
}

.s0-central-content-coll__gallery-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.s0-central-content-coll__gallery-img {
    height: 83%;
    width: 90%;
    object-fit: contain;
}

.muse-s-footer {
    background: #2B2B2B;
    color: #D0D6DC;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.9vw;
    padding: 1.43vw 0;
}

.muse-s-footer__txt {
    display: flex;
}

.muse-s-footer__sep {
    margin: 0 0.8vw;
}

@media (max-width: 1200px) { 
    .s0-central-content__logo {
        width: 55vw;
        height: 15vw;
    }

    .s0-central-content-coll {
        padding: 2.9vw 2vw 3vw;
    }

    .s0-central-content-coll {
        margin-top: 6.7vw;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {

    .s0-central-content__logo {
        margin-top: 4.8vw;
        width: 34vw;
        height: 8vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s0-central-content__logo {
        margin-top: 1.8vw;
        width: 25vw;
        height: 6vw;
        object-fit: contain;
    }

    .s0-central-content-coll {
        margin-top: 2.7vw;
    }

    .muse-s-footer {
        font-size: 1.4vw;
        padding: 1.2vw 0;
    }
}

@media (min-width: 1900px) and (max-width: 2559px) { 

    .s0-central-content__logo {
            margin-top: 3.8vw;
            width: 37vw;
            height: 9vw;
        }
    }

@media (min-width: 2560px) { 

    .s0-central-header {
        padding-top: 1.2vw;
        padding-bottom: 0.7vw;
        font-size: 2vw;
    }

    .s0-central-content__qr {
        width: 6vw;
    }

    .s0-central-content__logo {
        margin-top: 0.8vw;
        width: 32vw;
        height: 7vw;
    }

    .s0-central-content-coll {
        margin-top: 2.7vw;
    }

    .s0-central-content-coll__gallery {
        margin-top: 1.4vw;
        margin-bottom: 1.4vw;
    }

    .s0-central-content-coll__txt {
        font-size: 1.8vw;
    }

    .s0-central-content-coll__gallery-item {
        width: 12.4vw;
        height: 9vw;
    }

    .muse-s-footer {
        font-size: 1.3vw;
        padding: 1.2vw 0;
    }
    
}


/* MUSE-s1-central */
.central-header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3.8vw 4.8vw;
    align-items: center;
    position: relative;
}

.muse-progress-inner {
    display: flex;
    align-items: center;
}

.muse-progress {
    position: relative;
    width: 8.3vw;
    height: 8.3vw;
    border: 1px solid #7B7B7B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.muse-progress__digit {
    font-weight: 700;
    font-size: 2.4vw;
}

.muse-progress__circle {
    width: 8.8vw;
    height: 8.8vw;
    position: absolute;
    transform: scale(-1, -1);
}

.muse-progress__circle-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 930;     /* change it to fill the circle 750-1000 */
    stroke: #DFAF89;
    stroke-width: 0.3vw;
    stroke-linecap: round;
    fill: none;
}

.muse-progress__img-circle {
    position: absolute;
    width: 5.8vw;
    height: 5.8vw;
    object-fit: contain;
}

.muse-txt-item {
    font-size: 1.4vw;
    text-transform: uppercase;
    margin-left: 1.8vw;
    width: 8vw;
}

.s-user-head {
    width: 37vw;
    margin-left: 2.5vw;
}

.s-user-head__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 2.35vw;
    text-align: center;
    margin-bottom: 1.3vw;
}

.s-user-head__line {
    width: 100%;
    height: 1px;
    background: #7B7B7B;
}

.s-user-head__txt-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1.5vw;
}

.s-user-head__txt {
    display: flex;
    font-size: 1.9vw;
    align-items: center;
    color: #D0D6DC;
}

.s-user-head__txt:first-child {
    margin-right: 2vw;
}

.s-user-head__icon {
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 0.7vw;
}

.s1-qr-head {
    display: flex;

}

.s1-qr-head__img {
    width: 6.87vw;
    height: 6.87vw;
    border-radius: 8px 0 0 8px;
    margin-right: -2px;
}

.s1-qr-head__info {
    border: 2px solid #7B7B7B;
    border-radius: 0 8px 8px 0;
    width: 13.8vw;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: none;
}

.s1-qr-head__title {
    font-size: 1.45vw;
    color: #DFAF89;
}

.s1-qr-head__link {
    font-size: 1.3vw;
}

.s1-qr-head__code {
    font-size: 1.5vw;
}

.s1-central-main-wrapper {
    padding-left: 8vw;
    padding-right: 5vw;
    margin-top: 4.5vw;
    display: flex;
    justify-content: space-between;
}

.s1-central-left {
    width: 36.8vw;
}

.s1-central-left__total-wrapper {
    width: 100%;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
    border-radius: 0.7vw;
    display: flex;
    padding-top: 3.35vw;
    padding-bottom: 4vw;
}

.s1-central-left__total-item {
    text-align: center; 
    width: 50%;  
}

.s1-central-left__total-title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #D0D6DC;
    font-size: 2.35vw;
}

.s1-central-left__total-digit {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 4.35vw;
    margin-top: 1.5vw;
}

.s1-central-left__txt {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 1.7vw;
}

.s1-central-left__bottom-txt {
    margin: 0 auto;
    font-size: 2.1vw;
    text-align: center;
    margin-top: 2.6vw;
    width: 84%;
    line-height: 116%;
    color: #D0D6DC;
}

.s1-central-right {
    width: 43vw;
    height: 30.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1-central-right__frame {
    position: absolute;
    width: 43vw;
    height: 30.5vw;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.25));
}

.s1-central-right__art-image {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

@media (max-width: 1200px) { 
    .s1-central-main-wrapper {
        margin-top: 9.5vw;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .s1-central-main-wrapper {
        margin-top: 0vw;
    }

    .s1-central-left__bottom-txt {
        font-size: 1.7vw;
        width: 88%;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .central-header-wrapper {
        padding: 1.8vw 4.8vw;
    }

    .s1-central-main-wrapper {
        margin-top: 0.5vw;
    }

    .s1-central-left__total-wrapper {
        padding-top: 2.35vw;
        padding-bottom: 2vw;
    }

    .s1-central-left__total-digit {
        font-size: 4vw;
        margin-top: 0.5vw;
    }

    .s1-central-left__bottom-txt {
        font-size: 1.7vw;
        margin-top: 2.4vw;
        width: 95%;
    }

    .s1-central-right {
        width: 39vw;
        height: 27.5vw;
    }

    .s1-central-right__frame {
        width: 39vw;
        height: 27.5vw;
    }

    
}

@media (min-width: 1900px) and (max-width: 2559px) { 
    .central-header-wrapper {
        padding: 3.1vw 4.8vw;
    }

    .s1-central-main-wrapper {
        margin-top: 1.3vw;
    }

    .s1-central-left__bottom-txt {
        font-size: 1.7vw;
    }
}

@media (min-width: 2560px) { 
    .central-header-wrapper {
        padding: 1.8vw 4.8vw;
    }

    .muse-progress {
        width: 6.3vw;
        height: 6.3vw;
    }

    .muse-progress__digit {
        font-size: 1.4vw;
    }

    .muse-progress__img-circle {
        width: 4.5vw;
        height: 4.5vw;
    }

    .muse-progress__circle {
        width: 6.8vw;
        height: 6.8vw;
    }

    .muse-progress__circle-path {
        stroke-width: 0.2vw;
    }

    .muse-txt-item {
        font-size: 1.2vw;
        margin-left: 1.2vw;
    }

    .s-user-head__title {
        font-size: 2vw;
        margin-bottom: 0.3vw;
    }

    .s-user-head__txt-wrapper {
        margin-top: 0.7vw;
    }

    .s-user-head__txt {
        font-size: 1.4vw;
    }

    .s1-qr-head__img {
        width: 5.57vw;
        height: 5.57vw;
    }

    .s1-qr-head__info {
        width: 10.8vw;
    }

    .s1-qr-head__title {
        font-size: 1.25vw;
    }

    .s1-qr-head__link {
        font-size: 1.0vw;
    }

    .s1-qr-head__code {
        font-size: 1.2vw;
    }

    .s1-central-main-wrapper {
        padding-left: 11vw;
        padding-right: 12vw;
    }

    .s1-central-main-wrapper {
        margin-top: 1.3vw;
    }

    .s1-central-right {
        width: 33vw;
        height: 23.5vw;
    }

    .s1-central-right__frame {
        width: 33vw;
        height: 23.5vw;
    }

    .s1-central-left__total-wrapper {
        padding-top: 1.35vw;
        padding-bottom: 2vw;
    }

    .s1-central-left__total-title {
        font-size: 1.8vw;
    }

    .s1-central-left__total-digit {
        font-size: 4vw;
        margin-top: 0.5vw;
    }

    .s1-central-left__bottom-txt {
        font-size: 1.6vw;
        margin-top: 1.4vw;
        color: #D0D6DC;
    }
   
}

/* MUSE-s3-central-card1 */
.central-header-wrapper_padding {
    padding-bottom: 1vw;
}

.muse-header-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2.64vw;
    letter-spacing: 0.15em;
    margin-top: -1vw;
}



.s3-central-left {
    width: 40.5vw;
}

.s3-central-card1-main-wrapper {
    padding: 0 6vw;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}

.s3-central-left__art-wrapper {
    width: 100%;
    height: 28.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.2vw;
}

.s3-central-lef__frame {
    position: absolute;
    width: 40.5vw;
    height: 28.5vw;
    z-index: 4;
}

.s3-central-lef__art-image {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

.s-user-head__title_s3 {
    margin-bottom: 1vw;
}

.s-user-head__txt-wrapper_s3 {
    margin-top: 0.7vw;
}

.muse-centr-rating__title {
    
}