/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

/*Specification start*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
    background: #090A0A;
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
    color: inherit;
}

input:focus, button:focus { 
	outline: none 
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
}

input{
	padding: 0;
	margin: 0;
	border: none;
}

.container {
	width: 100%;
	margin: 0 auto;
    padding: 0 2.1%;
}

/*Specification end*/


/* MUSE-s0-central */
.s0-central-header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-top: 1.7vw;
    padding-bottom: 0.7vw;
    font-size: 2.6vw;
    letter-spacing: 0.15em;
    font-weight: 700;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
}

.s0-central-header__txt-inner {
    display: flex;
}

.s0-central-header__txt-item:first-of-type {
    margin-right: 1.15vw;
}

.s0-central-content {
    padding: 2%;
    position: relative;
}



.s0-central-content__qr {
    position: absolute;
    top: 1.6vw;
    left: 1.7vw;
    width: 8vw;
    height: auto;
    object-fit: contain;
}

.s0-central-content__logo {
    margin: 0 auto;
    display: block;
    margin-top: 5.8vw;
    width: 41vw;
    height: 10vw;
    object-fit: contain;
}

.s0-central-content-coll {
    width: 100%;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
    border-radius: 8px;
    padding: 0.9vw 2vw 1vw;
    margin-top: 4.7vw;
}

.s0-central-content-coll__txt-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s0-central-content-coll__txt-line {
    width: 30vw;
    background: #DFAF89;
    height: 0.08vw;
}

.s0-central-content-coll__txt-line_width {
    width: 29vw;
}

.s0-central-content-coll__txt {
    margin: 0 1.5vw;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 2.35vw;
}

.s0-central-content-coll__gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6vw;
    margin-bottom: 1.8vw;
}

.s0-central-content-coll__gallery-item {
    position: relative;
    width: 14.4vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.25));
}

.s0-central-content-coll__gallery-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.s0-central-content-coll__gallery-img {
    height: 83%;
    width: 90%;
    object-fit: contain;
}

.muse-s-footer {
    background: #2B2B2B;
    color: #D0D6DC;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.9vw;
    padding: 1.43vw 0;
}

.muse-s-footer__txt {
    display: flex;
}

.muse-s-footer__sep {
    margin: 0 0.8vw;
}

@media (max-width: 1200px) { 
    .s0-central-content__logo {
        width: 55vw;
        height: 15vw;
    }

    .s0-central-content-coll {
        padding: 2.9vw 2vw 3vw;
    }

    .s0-central-content-coll {
        margin-top: 6.7vw;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {

    .s0-central-content__logo {
        margin-top: 4.8vw;
        width: 34vw;
        height: 8vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s0-central-content__logo {
        margin-top: 1.8vw;
        width: 25vw;
        height: 6vw;
        object-fit: contain;
    }

    .s0-central-content-coll {
        margin-top: 2.7vw;
    }

    .muse-s-footer {
        font-size: 1.4vw;
        padding: 1.2vw 0;
    }
}

@media (min-width: 1900px) and (max-width: 2559px) { 

    .s0-central-content__logo {
            margin-top: 3.8vw;
            width: 37vw;
            height: 9vw;
        }
    }

@media (min-width: 2560px) { 

    .s0-central-header {
        padding-top: 1.2vw;
        padding-bottom: 0.7vw;
        font-size: 2vw;
    }

    .s0-central-content__qr {
        width: 6vw;
    }

    .s0-central-content__logo {
        margin-top: 0.8vw;
        width: 32vw;
        height: 7vw;
    }

    .s0-central-content-coll {
        margin-top: 2.7vw;
    }

    .s0-central-content-coll__gallery {
        margin-top: 1.4vw;
        margin-bottom: 1.4vw;
    }

    .s0-central-content-coll__txt {
        font-size: 1.8vw;
    }

    .s0-central-content-coll__gallery-item {
        width: 12.4vw;
        height: 9vw;
    }

    .muse-s-footer {
        font-size: 1.3vw;
        padding: 1.2vw 0;
    }
    
}


/* MUSE-s1-central */
.central-header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3.8vw 4.8vw;
    align-items: center;
    position: relative;
}

.muse-progress-inner {
    display: flex;
    align-items: center;
}

.muse-progress {
    position: relative;
    width: 8.3vw;
    height: 8.3vw;
    border: 1px solid #7B7B7B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.muse-progress__digit {
    font-weight: 700;
    font-size: 2.4vw;
}

.muse-progress__circle {
    width: 8.8vw;
    height: 8.8vw;
    position: absolute;
    transform: scale(-1, -1);
}

.muse-progress__circle-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 930;     /* change it to fill the circle 750-1000 */
    stroke: #DFAF89;
    stroke-width: 0.3vw;
    stroke-linecap: round;
    fill: none;
}

.muse-progress__img-circle {
    position: absolute;
    width: 5.8vw;
    height: 5.8vw;
    object-fit: contain;
}

.muse-txt-item {
    font-size: 1.4vw;
    text-transform: uppercase;
    margin-left: 1.8vw;
    width: 8vw;
}

.s-user-head {
    width: 37vw;
    margin-left: 2.5vw;
}

.s-user-head__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 2.35vw;
    text-align: center;
    margin-bottom: 1.3vw;
}

.s-user-head__line {
    width: 100%;
    height: 1px;
    background: #7B7B7B;
}

.s-user-head__txt-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1.5vw;
}

.s-user-head__txt {
    display: flex;
    font-size: 1.9vw;
    align-items: center;
    color: #D0D6DC;
}

.s-user-head__txt:first-child {
    margin-right: 2vw;
}

.s-user-head__icon {
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 0.7vw;
}

.s1-qr-head {
    display: flex;

}

.s1-qr-head__img {
    width: 6.87vw;
    height: 6.87vw;
    border-radius: 8px 0 0 8px;
    margin-right: -2px;
}

.s1-qr-head__info {
    border: 2px solid #7B7B7B;
    border-radius: 0 8px 8px 0;
    width: 13.8vw;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: none;
}

.s1-qr-head__title {
    font-size: 1.45vw;
    color: #DFAF89;
}

.s1-qr-head__link {
    font-size: 1.3vw;
}

.s1-qr-head__code {
    font-size: 1.5vw;
}

.s1-central-main-wrapper {
    padding-left: 8vw;
    padding-right: 5vw;
    margin-top: 4.5vw;
    display: flex;
    justify-content: space-between;
}

.s1-central-left {
    width: 36.8vw;
}

.s1-central-left__total-wrapper {
    width: 100%;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
    border-radius: 0.7vw;
    display: flex;
    padding-top: 3.35vw;
    padding-bottom: 4vw;
}

.s1-central-left__total-item {
    text-align: center; 
    width: 50%;  
}

.s1-central-left__total-title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #D0D6DC;
    font-size: 2.35vw;
}

.s1-central-left__total-digit {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 4.35vw;
    margin-top: 1.5vw;
}

.s1-central-left__txt {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 1.7vw;
}

.s1-central-left__bottom-txt {
    margin: 0 auto;
    font-size: 2.1vw;
    text-align: center;
    margin-top: 2.6vw;
    width: 84%;
    line-height: 116%;
    color: #D0D6DC;
}

.s1-central-right {
    width: 43vw;
    height: 30.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1-central-right__frame {
    position: absolute;
    width: 43vw;
    height: 30.5vw;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.25));
}

.s1-central-right__art-image {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

@media (max-width: 1200px) { 
    .s1-central-main-wrapper {
        margin-top: 9.5vw;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .central-header-wrapper {
        padding-top: 2vw;
    }

    .s1-central-main-wrapper {
        margin-top: 1vw;
    }

    .s1-central-left__bottom-txt {
        font-size: 1.7vw;
        width: 88%;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .muse-progress {
        width: 6.3vw;
        height: 6.3vw;
    }

    .muse-progress__img-circle {
        width: 4.5vw;
        height: 4.5vw;
    }

    .muse-progress__circle {
        width: 6.8vw;
        height: 6.8vw;
    }

    .muse-progress__digit {
        font-size: 2vw;
    }

    .muse-progress__circle-path {
        stroke-width: 0.2vw;
    }

    .central-header-wrapper {
        padding: 1.8vw 4.8vw;
    }

    .s1-central-main-wrapper {
        margin-top: 0.5vw;
    }

    .s1-central-left__total-wrapper {
        padding-top: 2.35vw;
        padding-bottom: 2vw;
    }

    .s1-central-left__total-digit {
        font-size: 4vw;
        margin-top: 0.5vw;
    }

    .s1-central-left__bottom-txt {
        font-size: 1.7vw;
        margin-top: 2.4vw;
        width: 95%;
    }

    .s1-central-right {
        width: 39vw;
        height: 27.5vw;
    }

    .s1-central-right__frame {
        width: 39vw;
        height: 27.5vw;
    }

    
}

@media (min-width: 1900px) and (max-width: 2559px) { 
    .central-header-wrapper {
        padding: 2.1vw 4.8vw;
    }

    .s1-central-main-wrapper {
        margin-top: 2.3vw;
    }

    .s1-central-left__bottom-txt {
        font-size: 1.7vw;
    }
}

@media (min-width: 2560px) { 
    .central-header-wrapper {
        padding: 1.8vw 4.8vw;
    }

    .muse-progress {
        width: 6.3vw;
        height: 6.3vw;
    }

    .muse-progress__digit {
        font-size: 1.4vw;
    }

    .muse-progress__img-circle {
        width: 4.5vw;
        height: 4.5vw;
    }

    .muse-progress__circle {
        width: 6.8vw;
        height: 6.8vw;
    }

    .muse-progress__circle-path {
        stroke-width: 0.2vw;
    }

    .muse-txt-item {
        font-size: 1.2vw;
        margin-left: 1.2vw;
    }

    .s-user-head__title {
        font-size: 2vw;
        margin-bottom: 0.3vw;
    }

    .s-user-head__txt-wrapper {
        margin-top: 0.7vw;
    }

    .s-user-head__txt {
        font-size: 1.4vw;
    }

    .s1-qr-head__img {
        width: 5.57vw;
        height: 5.57vw;
    }

    .s1-qr-head__info {
        width: 10.8vw;
    }

    .s1-qr-head__title {
        font-size: 1.25vw;
    }

    .s1-qr-head__link {
        font-size: 1.0vw;
    }

    .s1-qr-head__code {
        font-size: 1.2vw;
    }

    .s1-central-main-wrapper {
        padding-left: 11vw;
        padding-right: 12vw;
    }

    .s1-central-main-wrapper {
        margin-top: 1.3vw;
    }

    .s1-central-right {
        width: 33vw;
        height: 23.5vw;
    }

    .s1-central-right__frame {
        width: 33vw;
        height: 23.5vw;
    }

    .s1-central-left__total-wrapper {
        padding-top: 1.35vw;
        padding-bottom: 2vw;
    }

    .s1-central-left__total-title {
        font-size: 1.8vw;
    }

    .s1-central-left__total-digit {
        font-size: 4vw;
        margin-top: 0.5vw;
    }

    .s1-central-left__bottom-txt {
        font-size: 1.6vw;
        margin-top: 1.4vw;
        color: #D0D6DC;
    }
   
}

/* MUSE-s3-central-card1 */
.central-header-wrapper_padding {
    padding-bottom: 1vw;
}

.muse-header-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2.64vw;
    letter-spacing: 0.15em;
    margin-top: -1vw;
}



.s3-central-left {
    width: 40.5vw;
}

.s3-central-card1-main-wrapper {
    padding: 0 4.7vw 0 6vw;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}

.s3-central-left__art-wrapper {
    width: 100%;
    height: 28.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.2vw;
}

.s3-central-lef__frame {
    position: absolute;
    width: 40.5vw;
    height: 28.5vw;
    z-index: 4;
}

.s3-central-lef__art-image {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

.s-user-head_s3 {
    margin: 0 auto;
}

.s-user-head__title_s3 {
    margin-bottom: 1vw;
}

.s-user-head__txt-wrapper_s3 {
    margin-top: 0.7vw;
}

.muse-centr-rating {
    width: 44.75vw;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
    border-radius: 0.7vw;
    padding-top: 4.35vw;
    padding-bottom: 3.6vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.muse-centr-rating__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #D0D6DC;
    font-size: 2.35vw;
    text-align: center;
    margin-bottom: 0.4vw;
}

.muse-centr-rating__star-wrapper {
    display: flex;
}

.muse-centr-rating__star-item {
    position: relative;
    width: 3.5vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.muse-centr-rating__star-item:not(:last-of-type) {
    margin-right: 0.8vw;
}

.muse-centr-rating__icon-grey {
    width: 3.5vw;
    height: 3.5vw;
    object-fit: contain;
    position: absolute;
}

.muse-centr-rating__icon-active {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    left: 0;
}


.muse-centr-rating__icon-active_width {
    width: 40%;     /* Here you can adjust the width of the star */
}

.muse-centr-rating__icon-color {
    width: 3.5vw;
    height: 3.5vw;
    object-fit: contain;
}

.muse-centr-rating__digit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.muse-centr-rating__digit-line {
    width: 5.4vw;
    height: 0.05vw;
    background: #DFAF89;
    display: block;
}

.muse-centr-rating__digit-item {
    font-size: 4.3vw;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    text-align: center;
    width: 10.5vw;
}

.muse-centr-rating__line {
    width: 80%;
    height: 0.05vw;
    background: #7B7B7B;
    margin-top: 2.5vw;
    margin-bottom: 3.7vw;
}

.muse-centr-rating__txt {
    font-size: 23px;
    font-style: italic;
    color: #D0D6DC;
    width: 90%;
}

.muse-centr-rating__txt span:nth-child(1) {
    font-size: 3.4vw;
    color: #DFAF89;
    font-weight: 500;
}

.muse-centr-rating__txt span:nth-child(2) { 
    font-size: 1.8vw;
}

.muse-centr-rating__txt span:nth-child(3) { 
    font-size: 3.1vw;
    color: #DFAF89;
    font-weight: 500;
}

.muse-centr-rating__txt span:nth-child(4) { 
    font-size: 1.7vw;
}

.muse-centr-rating__txt span:nth-child(5) { 
    font-size: 2.2vw;
    font-weight: 500;
}

.muse-centr-rating__txt span:nth-child(6) { 
    font-size: 2.0vw;
    font-weight: 500;
}

.muse-centr-rating__txt span:nth-child(7) { 
    font-size: 2.8vw;
    font-weight: 500;
    color: #DFAF89;
}

.muse-centr-rating__txt span:nth-child(8) { 
    font-size: 1.8vw;
}

.muse-centr-rating__txt span:nth-child(9) { 
    font-size: 1.9vw;
}

.muse-centr-rating__txt span:nth-child(10) { 
    font-size: 3.4vw;
    color: #DFAF89;
    font-weight: 500;
}

@media (max-width: 1200px) { 
    .s3-central-card1-main-wrapper {
        margin-top: 7vw;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .s3-central-card1-main-wrapper {
        margin-top: 0.5vw;
    }

    .s3-central-left__art-wrapper {
        margin-bottom: 0.8vw;
    }

    .s-user-head__title_s3 {
        margin-bottom: 0.7vw;
    }

    .muse-centr-rating__line {
        margin-top: 1.5vw;
        margin-bottom: 1.7vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s3-central-card1-main-wrapper {
        margin-top: 0.2vw;
    }

    .s3-central-left {
        width: 30.5vw;
    }

    .s3-central-left__art-wrapper {
        height: 23.5vw;
        margin-bottom: 0.6vw;
    }

    .s3-central-lef__frame {
        width: 30.5vw;
        height: 23.5vw;
    }

    .s-user-head_s3 {
        width: 30vw;
    }

    .s-user-head__txt-wrapper_s3 {
        margin-top: 0.3vw;
    }

    .s-user-head__title_s3 {
        margin-bottom: 0vw;
    }

    .muse-centr-rating {
        width: 54.75vw;
        padding-top: 2.35vw;
        padding-bottom: 3.2vw;
    }

    .muse-centr-rating__line {
        margin-top: 1.5vw;
        margin-bottom: 1.7vw;
    }

    .muse-centr-rating__txt {
        width: 65%;
    }

    .muse-centr-rating__txt span:nth-child(1) {
        font-size: 2.4vw;
    }

    .muse-centr-rating__txt span:nth-child(2) {
        font-size: 1.0vw;
    }

    .muse-centr-rating__txt span:nth-child(3) {
        font-size: 2.1vw;
    }

    .muse-centr-rating__txt span:nth-child(5) {
        font-size: 2vw;
    }

    .muse-centr-rating__txt span:nth-child(6) {
        font-size: 1.5vw;
    }
    
    .muse-centr-rating__txt span:nth-child(7) {
        font-size: 2.2vw;
    }

    .muse-centr-rating__txt span:nth-child(8) {
        font-size: 1.1vw;
    }

    .muse-centr-rating__txt span:nth-child(9) {
        font-size: 1.4vw;
    }

    .muse-centr-rating__txt span:nth-child(10) {
        font-size: 2.4vw;
    }
}

@media (min-width: 1900px) and (max-width: 2559px) { 
    .s3-central-card1-main-wrapper {
        margin-top: 1vw;
    }

    .s3-central-left__art-wrapper {
        margin-bottom: 0.8vw;
    }

    .muse-centr-rating__line {
        margin-top: 1.5vw;
        margin-bottom: 2.7vw;
    }
}

@media (min-width: 2560px) { 
    .s3-central-left {
        width: 28.5vw;
    }

    .s3-central-card1-main-wrapper {
        padding: 0 12vw 0 11vw;
        margin-top: 0.2vw;
    }

    .s3-central-left__art-wrapper {
        height: 21.5vw;
        margin-bottom: 0.5vw;
    }

    .s3-central-lef__frame {
        width: 28.5vw;
        height: 21.5vw;
    }

    .s-user-head__title_s3 {
        margin-bottom: 0.2vw;
    }

    .s-user-head_s3 {
        width: 28vw;
    }

    .muse-centr-rating {
        width: 42.75vw;
        padding-top: 2.55vw;
        padding-bottom: 2.8vw;
    }

    .muse-centr-rating__title {
        font-size: 1.35vw;
    }

    .muse-centr-rating__txt {
        width: 83%;
    }

    .muse-centr-rating__star-item,
    .muse-centr-rating__icon-color,
    .muse-centr-rating__icon-grey {
        width: 2vw;
        height: 2vw;
    }

    .muse-centr-rating__digit-item {
        font-size: 3.3vw;
        width: 9.5vw;
    }

    .muse-centr-rating__line {
        margin-top: 1.5vw;
        margin-bottom: 2vw;
    }

    .muse-centr-rating__txt span:nth-child(1) {
        font-size: 2.4vw;
    }

    .muse-centr-rating__txt span:nth-child(2) {
        font-size: 1.0vw;
    }

    .muse-centr-rating__txt span:nth-child(3) {
        font-size: 2.1vw;
    }

    .muse-centr-rating__txt span:nth-child(5) {
        font-size: 2vw;
    }

    .muse-centr-rating__txt span:nth-child(6) {
        font-size: 1.5vw;
    }
    
    .muse-centr-rating__txt span:nth-child(7) {
        font-size: 2.2vw;
    }

    .muse-centr-rating__txt span:nth-child(8) {
        font-size: 1.1vw;
    }

    .muse-centr-rating__txt span:nth-child(9) {
        font-size: 1.4vw;
    }

    .muse-centr-rating__txt span:nth-child(10) {
        font-size: 2.4vw;
    }

}


/* MUSE-s3-central-card3 */
.s3-central-card3-wrapper {
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
}

.s3-central-card3-origin {
    width: 25vw;
}

.s3-central-card3-table {
    width: 100%;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
    text-align: center;
    border-radius: 0.7vw;
    padding: 0.8vw 0 1.5vw;
}

.s3-central-card3-table__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #D0D6DC;
    font-size: 2.35vw;
    border-bottom: 1px solid #7B7B7B;
    padding-bottom: 0.6vw;
}

.s3-central-card3-table__digit {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 4.35vw;
    margin-top: 0.8vw;
    line-height: 100%;
}

.s3-central-card3-table__digit-txt {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 1.7vw;
}

.s3-central-card3-table__line {
    width: 7.5vw;
    height: 1px;
    background: #7B7B7B;
    display: block;
    margin: 0 auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.s3-central-card3-table__digit-white-txt {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #fff;
    font-size: 2.4vw;
}

.s3-central-card3-origin__white-txt {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #D0D6DC;
    font-size: 2.4vw;
    text-align: center;
    margin-top: 2vw;
}

.s3-cent-c3-or-player {
    margin-top: 7.5vw;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 1.75vw;
}

.s3-cent-c3-or-player__play-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DFAF89;
}

.s3-cent-c3-or-player__digit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    font-weight: 700;
    font-size: 1.35vw;
    margin-right: 1vw;
    text-align: center;
    padding-left: 0.2vw;
}

.s3-cent-c3-or-player__price {
    text-align: center;
    margin-top: 0.7vw;
}

.s3-central-card3-art {
    width: 33vw;
}

.s3-central-c3-art {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23.5vw;
}

.s3-central-c3-art__frame {
    position: absolute;
    width: 100%;
    height: auto;
}

.s3-central-c3-art__img {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

.s3-central-c3-glory {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.7vw;
}

.s3-central-c3-glory__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 2.35vw;
    margin-bottom: 1vw;
}

.s3-central-c3-glory__line {
    height: 0.05vw;
    width: 94%;
    background: #7B7B7B;
}

.s3-central-c3-glory .muse-centr-rating__star-wrapper {
    margin: 1vw 0;
}

.s3-central-c3-glory__name {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #D0D6DC;
    font-size: 2.35vw;
    font-style: italic;
    width: 78%;
    text-align: center;
    margin-top: 1.2vw;
    line-height: 140%;
}

.s3-central-card3-team {
    width: 25vw;
}

.s3-central-card3-list {
    margin-top: 1.7vw;
}

.s3-central-card3-list__item {
    display: flex;
    align-items: center;
    font-size: 1.45vw;
    letter-spacing: 0.05em;
    justify-content: space-between;
    font-weight: 700;
}

.s3-central-card3-list__item:not(:last-child) {
    margin-bottom: 1.2vw;
}

.s3-central-card3-list__user-wrapper {
    display: flex;
    align-items: center;
}

.s3-central-card3-list__user-digit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    font-weight: 700;
    margin-right: 1vw;
    text-align: center;
}

.s3-central-card3-list__nick {
    text-transform: uppercase;
    font-weight: 700;
    color: #DFAF89;
}

@media (max-width: 1200px) { 
    .s3-central-card3-wrapper {
        margin-top: 5vw;
    }

}

@media (min-width: 1200px) and (max-width: 1439px) {
    .s3-cent-c3-or-player {
        margin-top: 5.5vw;
    }

    .s3-central-c3-art__frame {
        width: 88%;
    }

    .s3-central-c3-art {
        height: 20.5vw;
    }

    .s3-central-c3-glory {
        margin-top: 0.7vw;
    }

    .s3-central-card3-list {
        margin-top: 0.7vw;
    }

    .s3-central-card3-list__item:not(:last-child) {
        margin-bottom: 0.5vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s3-cent-c3-or-player {
        margin-top: 4.5vw;
        font-size: 1.3vw;
    }

    .s3-cent-c3-or-player__digit {
        width: 1.4vw;
        height: 1.4vw;
        font-size: 1vw;
    }

    .s3-central-card3-table {
        padding: 0.8vw 0 1vw;
    }

    .s3-central-card3-table__title {
        font-size: 1.4vw;
    }

    .s3-central-card3-table__digit {
        font-size: 3vw;
    }

    .s3-central-card3-art {
        width: 25vw;
    }

    .s3-central-c3-art {
        height: 17.5vw;
    }

    .s3-central-c3-glory {
        margin-top: 0.7vw;
    }

    .s3-central-c3-glory .muse-centr-rating__star-wrapper {
        margin: 0.4vw 0;
    }

    .s3-central-c3-glory__name {
        font-size: 1.8vw;
        width: 100%;
        margin-top: 0.4vw;
    }

    .s3-central-card3-list {
        margin-top: 0.8vw;
    }

    .s3-central-card3-table__digit-txt {
        font-size: 1.0vw;
    }

    .s3-central-card3-table__digit-white-txt {
        font-size: 1.4vw;
    }

    .s3-central-card3-origin__white-txt {
        font-size: 1.4vw;
        margin-top: 1vw;
    }

    .s3-central-c3-glory__title {
        font-size: 1.4vw;
    }

    .s3-central-card3-list__item:not(:last-child) {
        margin-bottom: 0.6vw;
    }

    .s3-central-card3-list__user-digit {
        width: 1.4vw;
        height: 1.4vw;
        font-size: 1vw;
    }

    .s3-central-card3-list__item {
        font-size: 1.2vw;
    }

}

@media (min-width: 1900px) and (max-width: 2559px) { 
    .s3-central-card3-table {
        padding: 0.8vw 0 0.8vw;
    }

    .s3-cent-c3-or-player {
        margin-top: 5.5vw;
    }

    .s3-central-c3-art {
        height: 20.5vw;
    }

    .s3-central-c3-art__frame {
        width: 88%;
    }

    .s3-central-c3-glory {
        margin-top: 0.7vw;
    }

    .s3-central-card3-list {
        margin-top: 0.7vw;
    }

    .s3-central-card3-list__item:not(:last-child) {
        margin-bottom: 0.5vw;
    }
}

@media (min-width: 2560px) { 
    .s3-cent-c3-or-player {
        margin-top: 4.5vw;
        font-size: 1.3vw;
    }

    .s3-cent-c3-or-player__digit {
        width: 1.4vw;
        height: 1.4vw;
        font-size: 1vw;
    }

    .s3-central-card3-table {
        padding: 0.8vw 0 1vw;
    }

    .s3-central-card3-table__title {
        font-size: 1.4vw;
    }

    .s3-central-card3-table__digit {
        font-size: 3vw;
    }

    .s3-central-card3-art {
        width: 25vw;
    }

    .s3-central-c3-art {
        height: 17.5vw;
    }

    .s3-central-c3-glory {
        margin-top: 0.7vw;
    }

    .s3-central-c3-glory .muse-centr-rating__star-wrapper {
        margin: 0.4vw 0;
    }

    .s3-central-c3-glory__name {
        font-size: 1.8vw;
        width: 100%;
        margin-top: 0.4vw;
    }

    .s3-central-card3-list {
        margin-top: 0.8vw;
    }

    .s3-central-card3-table__digit-txt {
        font-size: 1.0vw;
    }

    .s3-central-card3-table__digit-white-txt {
        font-size: 1.4vw;
    }

    .s3-central-card3-origin__white-txt {
        font-size: 1.4vw;
        margin-top: 1vw;
    }

    .s3-central-c3-glory__title {
        font-size: 1.4vw;
    }

    .s3-central-card3-list__item:not(:last-child) {
        margin-bottom: 0.6vw;
    }

    .s3-central-card3-list__user-digit {
        width: 1.4vw;
        height: 1.4vw;
        font-size: 1vw;
    }

    .s3-central-card3-list__item {
        font-size: 1.2vw;
    }

}

/* MUSE-s3-central-card4 */
.s4-cent-c4-coll {
    width: 72%;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.7vw;
    margin-top: 0.2vw;
    padding-top: 1.2vw;
    padding-bottom: 2.4vw;
}

.s4-cent-c4-coll__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 2.35vw;
    border-bottom: 1px solid #7B7B7B;
    padding-bottom: 0.8vw;
}

.s4-cent-c4-coll__wrapper {
    margin-top: 2vw;
    display: flex;
}

.s4-cent-c4-coll__item {
    width: 33.3%;
}

.s4-cent-c4-coll__item:nth-child(2) {
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
}

.s4-cent-c4-coll__place {
    display: flex;
    align-items: flex-end;
    font-size: 4.3vw;
    line-height: 93%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    justify-content: center;
}

.s4-cent-c4-coll__icon {
    width: 6.3vw;
    height: auto;
    margin-right: 1vw;
}

.s4-cent-c4-coll__user {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 1.65vw;
    color: #D0D6DC;
    margin-top: 2vw;
}

.s4-cent-c4-coll__user-dig{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    font-weight: 700;
    font-size: 1.35vw;
    margin-right: 2vw;
    text-align: center;
    padding-left: 0.2vw;
}

.s4-cent-c4-coll__title-sold {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #DFAF89;
    font-size: 2.3vw;
    text-align: center;
    margin-top: 2.6vw;
    margin-bottom: 2.7vw;
}

.muse-gallery-card {
    margin: 0 auto;
    width: 90.5%;
    display: flex;
    justify-content: space-between;
}

.muse-gallery-card__item {
    width: 14.2vw;
}

.muse-gallery-card__art-wrapper {
    position: relative;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.muse-gallery-card__frame {
    width: 100%;
    height: auto;
    z-index: 4;
    position: absolute;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.25));
}

.muse-gallery-card__img {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

.muse-gallery-card__star-wrapper {
    display: flex;
    justify-content: center;
}

.muse-gallery-card__star-item {
    position: relative;
    width: 1.3vw;
    height: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.1vw;
}

.muse-gallery-card__star-item:not(:last-of-type) {
    margin-right: 0.52vw;
}

.muse-gallery-card__icon-active {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    left: 0;
}

.muse-gallery-card__icon-color {
    width: 1.3vw;
    height: 1.3vw;
    object-fit: contain;
}

.muse-gallery-card__icon-grey {
    width: 1.3vw;
    height: 1.3vw;
    object-fit: contain;
    position: absolute;
}

@media (max-width: 1200px) { 
    .s4-cent-c4-coll {
        padding-top: 2.2vw;
        padding-bottom: 3.4vw;
        margin-top: 4vw;
    }

    .s4-cent-c4-coll__title {
        padding-bottom: 1.8vw;
    }

    .s4-cent-c4-coll__wrapper {
        margin-top: 3vw;
    }

    .s4-cent-c4-coll__title-sold {
        margin-top: 4.6vw;
    }

    .muse-gallery-card__icon-active {
        height: 124%;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .s4-cent-c4-coll {
        padding-bottom: 1.4vw;
    }

    .s4-cent-c4-coll__wrapper {
        margin-top: 1vw;
    }

    .s4-cent-c4-coll__icon {
        width: 5.3vw;
    }

    .s4-cent-c4-coll__place {
        font-size: 3.3vw;
    }

    .s4-cent-c4-coll__title-sold {
        margin-top: 2.5vw;
        margin-bottom: 2vw;
    }

    .muse-gallery-card__star-item {
        margin-top: 0.7vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s4-cent-c4-coll {
        padding-bottom: 1.4vw;
    }

    .s4-cent-c4-coll__title {
        font-size: 1.7vw;
        padding-bottom: 0.5vw;
    }

    .s4-cent-c4-coll__wrapper {
        margin-top: 0.5vw;
    }

    .s4-cent-c4-coll__icon {
        width: 3.3vw;
    }

    .s4-cent-c4-coll__place {
        font-size: 2.3vw;
    }

    .s4-cent-c4-coll__user {
        font-size: 1.2vw;
        margin-top: 0.4vw;
    }

    .s4-cent-c4-coll__title-sold {
        margin-top: 3vw;
        margin-bottom: 2vw;
        font-size: 1.5vw;
    }

    .muse-gallery-card {
        width: 84.5%;
    }

    .muse-gallery-card__item {
        width: 13.2vw;
    }

    .muse-gallery-card__art-wrapper {
        height: 10vw;
    }

    .muse-gallery-card__star-item {
        margin-top: 0.7vw;
    }
}

@media (min-width: 1900px) and (max-width: 2559px) { 
    .s4-cent-c4-coll {
        padding-bottom: 1.4vw;
    }

    .s4-cent-c4-coll__wrapper {
        margin-top: 1vw;
    }

    .s4-cent-c4-coll__icon {
        width: 5.3vw;
    }

    .s4-cent-c4-coll__place {
        font-size: 3.3vw;
    }

    .s4-cent-c4-coll__title-sold {
        margin-top: 2.5vw;
        margin-bottom: 2vw;
    }

    .muse-gallery-card__star-item {
        margin-top: 0.7vw;
    }
}

@media (min-width: 2560px) { 
    .s4-cent-c4-coll {
        padding-bottom: 1.4vw;
    }

    .s4-cent-c4-coll__title {
        font-size: 1.7vw;
        padding-bottom: 0.5vw;
    }

    .s4-cent-c4-coll__wrapper {
        margin-top: 0.5vw;
    }

    .s4-cent-c4-coll__icon {
        width: 3.3vw;
    }

    .s4-cent-c4-coll__place {
        font-size: 2.3vw;
    }

    .s4-cent-c4-coll__user {
        font-size: 1.2vw;
        margin-top: 0.4vw;
    }

    .s4-cent-c4-coll__title-sold {
        margin-top: 2.1vw;
        margin-bottom: 2vw;
        font-size: 1.5vw;
    }

    .muse-gallery-card {
        width: 84.5%;
    }

    .muse-gallery-card__item {
        width: 11.2vw;
    }

    .muse-gallery-card__art-wrapper {
        height: 8vw;
    }

    .muse-gallery-card__star-item {
        margin-top: 0.7vw;
    }

}


/* MUSE-s4-central-card */
.s4-central-card {
    padding-top: 5.4vw;
}

.s4-central-card__fired {
    text-align: center;
    text-transform: uppercase;
    background: #D42044;
    width: 17vw;
    margin: 0 auto;
    font-size: 2.7vw;
    font-weight: 700;
    letter-spacing: 0.15em;
    border-radius: 4vw;
    padding: 0.55vw 0;
    color: #D0D6DC;
}

.s4-central-card__head-txt {
    text-align: center;
    color: #D0D6DC;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    font-size: 1.73vw;
    margin-top: 2vw;
}

.s4-central-card__grey-inner {
    border-top: 1px solid #7B7B7B;
    background: #2B2B2B;
    padding: 12.8vw 0 14.9vw;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.muse-card-table {
    margin: 0 auto;
    width: 70vw;
    border-collapse: collapse;
}

.muse-card-table__header {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    font-size: 1.5vw;
    color: #D0D6DC;
}

.muse-card-table tr {
    border-bottom: 1px solid #7B7B7B;
    height: 5.6vw;
}

.muse-card-table tr td:not(:first-of-type) {
    text-align: right;
}

.muse-card-table tr td:first-of-type {
    padding-left: 2vw;
    width: 34vw;
}

.muse-card-table tr td:last-of-type {
    padding-right: 2vw;
    width: 26vw;
}

.muse-card-table__td {
    font-size: 2.4vw;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 700;
}

.muse-card-table__user {
    display: flex;
    align-items: center;
    color: #DFAF89;
}

.muse-card-table__digit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    font-weight: 700;
    font-size: 2.2vw;
    margin-right: 1vw;
    text-align: center;
    padding-left: 0.2vw;
    background: #028A80;
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .s4-central-card__grey-inner {
        padding: 6.8vw 0 13.9vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s4-central-card {
        padding-top: 6.4vw;
    }

    .s4-central-card__fired {
        font-size: 2.4vw;
        padding: 0.25vw 0;
    }

    .s4-central-card__grey-inner {
        padding: 4.8vw 0 9.9vw;
    }

    .muse-card-table tr {
        border-bottom: 1px solid #7B7B7B;
        height: 3.8vw;
    }

    .muse-card-table__td {
        font-size: 1.6vw;
    }

    .muse-card-table__digit {
        width: 2vw;
        height: 2vw;
        font-size: 1.2vw;
    }

}

@media (min-width: 1900px) and (max-width: 2559px) { 
    .s4-central-card__grey-inner {
        padding: 6.8vw 0 13.9vw;
    }
}

@media (min-width: 2560px) { 
    .s4-central-card {
        padding-top: 4.4vw;
    }

    .s4-central-card__fired {
        font-size: 2.4vw;
        padding: 0.25vw 0;
    }

    .s4-central-card__grey-inner {
        padding: 4.8vw 0 9.9vw;
    }

    .muse-card-table tr {
        border-bottom: 1px solid #7B7B7B;
        height: 3.8vw;
    }

    .muse-card-table__td {
        font-size: 1.6vw;
    }

    .muse-card-table__digit {
        width: 2vw;
        height: 2vw;
        font-size: 1.2vw;
    }

}

/* MUSE-s4-central-card2 */
.s4-central-card-inner_padding {
    padding-top: 6vw;
}

.muse-centr-total {
    width: 73%;
    background: #2B2B2B;
    border: 1px solid #7B7B7B;
    margin: 0 auto;
    text-align: center;
    padding-top: 3.2vw;
    padding-bottom: 2.4vw;
    margin-top: 4.2vw;
}

.muse-centr-total__user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.muse-centr-total__user-digit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    font-weight: 700;
    font-size: 2.35vw;
    margin-right: 2vw;
    text-align: center;
    background: #FF6006;
}

.muse-centr-total__user-name {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 2.4vw;
    color: #DFAF89;
    /* margin-top: 2vw; */
}

.muse-centr-total__team-list {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin-top: 1.3vw;
}

.muse-centr-total__team-user:not(:last-of-type) {
    margin-right: 1vw;
}

.muse-centr-total__line {
    height: 2px;
    background: #7B7B7B;
    width: 56%;
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 3.2vw;
}

.muse-centr-total__numbers-wrapper {
    display: flex;
}

.muse-centr-total__numbers-item {
    width: 50%;
}

.muse-centr-total__big-digit {
    font-size: 4.4vw;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 110%;
}

.muse-centr-total__digit-txt {
    font-size: 1.8vw;
    font-weight: 400;
    text-transform: uppercase;
    color: #DFAF89;
    letter-spacing: 0.15em;
}

.muse-gallery-card_three {
    width: 47.5%;
    margin-top: 4vw;
}

.muse-gallery-card__art-name {
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 1.7vw;
    color: #DFAF89;
    margin-top: 1vw;
}

.muse-gallery-card__art-digit {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

@media (max-width: 1200px) { 
    .muse-centr-total {
        padding-bottom: 3vw;
        margin-top: 6.2vw;
    }

    .muse-gallery-card_three {
        margin-top: 8vw;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .muse-centr-total {
        width: 73%;
        background: #2B2B2B;
        border: 1px solid #7B7B7B;
        margin: 0 auto;
        text-align: center;
        border-radius: 0.7vw;
        padding-top: 2.2vw;
        padding-bottom: 1.4vw;
        margin-top: 2.2vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s4-central-card-inner_padding {
        padding-top: 3vw;
    }

    .muse-centr-total {
        padding-top: 1.2vw;
        padding-bottom: 1.4vw;
        margin-top: 2.2vw;
    }

    .muse-centr-total__user-digit {
        width: 2vw;
        height: 2vw;
        font-size: 1.35vw;
    }

    .muse-centr-total__user-name {
        font-size: 2.0vw;
    }

    .muse-centr-total__team-list {
        margin-top: 1vw;
    }

    .muse-centr-total__team-list {
        display: flex;
        justify-content: center;
        font-size: 1.5vw;
    }

    .muse-centr-total__line {
        margin-top: 2vw;
        margin-bottom: 1.2vw;
    }

    .muse-centr-total__big-digit {
        font-size: 2.4vw;
    }

    .muse-gallery-card_three {
        margin-top: 3vw;
    }

    .muse-gallery-card__art-digit {
        font-size: 1.7vw;
    }

    .muse-gallery-card__art-name {
        font-size: 1.4vw;
        margin-top: 0.4vw;
    }
}

@media (min-width: 1900px) and (max-width: 2559px) { 
    .muse-centr-total__line {
        margin-top: 2vw;
        margin-bottom: 2.2vw;
    }

    .muse-centr-total {
        padding-top: 2.2vw;
        padding-bottom: 1.4vw;
        margin-top: 3.2vw;
    }
}

@media (min-width: 2560px) { 
    .s4-central-card-inner_padding {
        padding-top: 3vw;
    }

    .muse-centr-total {
        padding-top: 1.2vw;
        padding-bottom: 1.4vw;
        margin-top: 2.2vw;
    }

    .muse-centr-total__user-digit {
        width: 2vw;
        height: 2vw;
        font-size: 1.35vw;
    }

    .muse-centr-total__user-name {
        font-size: 2.0vw;
    }

    .muse-centr-total__team-list {
        margin-top: 1vw;
    }

    .muse-centr-total__team-list {
        display: flex;
        justify-content: center;
        font-size: 1.5vw;
    }

    .muse-centr-total__line {
        margin-top: 2vw;
        margin-bottom: 1.2vw;
    }

    .muse-centr-total__big-digit {
        font-size: 2.4vw;
    }

    .muse-gallery-card_three {
        margin-top: 3vw;
    }

    .muse-gallery-card__art-digit {
        font-size: 1.7vw;
    }

    .muse-gallery-card__art-name {
        font-size: 1.4vw;
        margin-top: 0.4vw;
    }

}

/* MUSE-s4-central-card3 */
.s4-central-card-inner {
    padding-top: 5vw;
}

.s4-central-card__title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 2.7vw;
    font-weight: 700;
    letter-spacing: 0.15em;
}

.s4-central-card__grey-inner_card3 {
    padding: 2.8vw 0 7.9vw;
}

.muse-card-table_card3 {
    width: 83.5vw;
}

.s4-central-card__grey-inner_card3 .muse-card-table tr td:last-of-type {
    width: 15.5vw;
}

.muse-card-table__td-fired {
    text-align: center;
    text-transform: uppercase;
    background: #D42044;
    width: 11vw;
    margin-left: auto;
    font-size: 1.7vw;
    font-weight: 400;
    letter-spacing: 0.15em;
    border-radius: 4vw;
    padding: 0.7vw 0;
    color: #fff;
}

.muse-card-table__td-cup {
    position: relative;
    padding-right: 4vw;
    padding-top: 0.5vw;
}

.muse-card-table__td-cup-txt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 4.7vw;
    font-size: 1.7vw;
    top: 0.9vw;
    color: #DFAF89;
}

.muse-card-table__td-cup-img {
    height: auto;
    width: 33%;
}

@media (max-width: 1200px) { 

}

@media (min-width: 1200px) and (max-width: 1439px) {
    .s4-central-card__grey-inner_card3 {
        padding: 2.8vw 0 2.9vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s4-central-card-inner {
        padding-top: 5vw;
    }

    .s4-central-card__grey-inner_card3 {
        padding: 0.8vw 0 1.2vw;
    }

    .muse-card-table__td-fired {
        padding: 0.2vw 0;
    }

    .muse-card-table__td-cup-txt {
        right: 4.8vw;
    }
}

@media (min-width: 1900px) and (max-width: 2559px) { 
    .s4-central-card__grey-inner_card3 {
        padding: 2.5vw 0 2.9vw;
    }
}

@media (min-width: 2560px) { 
    .s4-central-card-inner {
        padding-top: 3vw;
    }

    .s4-central-card__grey-inner_card3 {
        padding: 0.8vw 0 1.2vw;
    }

    .muse-card-table__td-fired {
        padding: 0.2vw 0;
    }

    .muse-card-table__td-cup-txt {
        right: 4.8vw;
    }

}


/* MUSE-s4-central-card4 */
.s4-central-card__subtitle {
    text-align: center;
    color: #D0D6DC;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    font-size: 1.73vw;
    margin-top: 1vw;
}

.muse-centr-total_c4 {
    margin-top: 3.2vw;
    width: 46%;
    padding-bottom: 1.5vw;
}

.muse-centr-total__line-c4 {
    width: 90%;
    height: 2px;
    background: #7B7B7B;
    margin: 0 auto;
    margin-top: 2.4vw;
    margin-bottom: 2.7vw;
}

.muse-centr-total__star-title {
    font-size: 1.7vw;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #D0D6DC;
}

.muse-centr-rating__star-wrapper_c4 {
    justify-content: center;
    margin-top: 1vw;
}

.muse-gallery-card_c4 {
    width: 44.5%;
    margin-top: 3.3vw;
}

@media (max-width: 1200px) { 
    .muse-centr-total_c4 {
        margin-top: 4.2vw;
        padding-bottom: 3.5vw;
        padding-top: 5vw;
    }

    .muse-centr-total__line-c4 {
        margin-top: 3.4vw;
        margin-bottom: 3.7vw;
    }

    .muse-gallery-card_c4 {
        margin-top: 5.3vw;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .s4-central-card-inner_padding {
        padding-top: 4vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .muse-centr-total_c4 {
        margin-top: 1.2vw;
        padding-bottom: 0.5vw;
    }

    .muse-centr-total__line-c4 {
        margin-top: 1.4vw;
        margin-bottom: 1.7vw;
    }
    .muse-gallery-card_c4 {
        margin-top: 2.3vw;
    }
}

@media (min-width: 1900px) and (max-width: 2559px) { 
    .s4-central-card-inner_padding {
        padding-top: 4vw;
    }
}

@media (min-width: 2560px) { 
    .muse-centr-total_c4 {
        margin-top: 1.2vw;
        padding-bottom: 0.5vw;
    }

    .muse-centr-total__line-c4 {
        margin-top: 1.4vw;
        margin-bottom: 1.7vw;
    }

    .muse-gallery-card_c4 {
        margin-top: 2.3vw;
    }

} 


/* MUSE-s4-central-card5 */
.s4-central-card__subtitle_c5 {
    margin-bottom: 6vw;
}

.s4-cent-card-grey {
    background: #2B2B2B;
    border-top: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    padding: 3vw 5vw;
}

.s4-cent-card-grey__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s4-cent-card-grey__title-line {
    width: auto;
    height: 1px;
    background: #DFAF89;
    width: 100%;
}

.s4-cent-card-grey__nick {
    font-size: 2.4vw;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #DFAF89;
    margin: 0 5vw;
}

.muse-gallery-card_c5 {
    width: 100%;
    margin-top: 2.8vw;
}

.muse-gallery-card__name-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.muse-gallery-card__name-line {
    background: #7B7B7B;
    height: 1px;
    width: 64%;
    margin-top: 0.9vw;
}

.muse-gallery-card__name-item {
    font-size: 2.3vw;
    font-style: italic;
    text-align: center;
    line-height: 109%;
    margin-top: 0.5vw;
    color: #D0D6DC;
}

@media (max-width: 1200px) { 
    .s4-central-card__subtitle_c5 {
        margin-bottom: 14vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s4-central-card__subtitle_c5 {
        margin-bottom: 3vw;
    }

    .s4-cent-card-grey {
        padding: 2vw 6vw;
    }

    .muse-gallery-card_c5 {
        margin-top: 1.8vw;
    }

    .muse-gallery-card__name-item {
        font-size: 1.8vw;
    }
}

@media (min-width: 2560px) { 
    .s4-central-card__subtitle_c5 {
        margin-bottom: 3vw;
    }

    .s4-cent-card-grey {
        padding: 2vw 6vw;
    }

    .muse-gallery-card_c5 {
        margin-top: 1.8vw;
    }

    .muse-gallery-card__name-item {
        font-size: 1.8vw;
    }

}

/* MUSE-s4-central-card6 */
.s4-central-card__subtitle_c6 {
    margin-bottom: 8.5vw;
}

.s4-cent-card-grey__c6-title {
    text-align: center;
    font-size: 1.8vw;
    text-transform: uppercase;
    margin-top: 2.4vw;
    letter-spacing: 0.15em;
}

.s4-cent-card-grey__money {
    font-size: 4.4vw;
    letter-spacing: 0.15em;
    text-align: center;
    margin-top: 2vw;
    font-weight: 700;
}

@media (max-width: 1200px) { 
    .s4-central-card__subtitle_c6 {
        margin-bottom: 15.5vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s4-central-card__subtitle_c6 {
        margin-bottom: 4.5vw;
    }
}

@media (min-width: 2560px) { 
    .s4-central-card__subtitle_c6 {
        margin-bottom: 4.5vw;
    }
}


/* library */
.muse-orange {
    background: #FF6006;
}

.muse-green {
    background: #028A80;
}

.muse-purp {
    background: #44217C;
}

.muse-blue {
    background: #2662FC;
}

.muse-yellow {
    background: #FDA003;
}

.muse-light-green {
    background: #4CAF52;
}

.muse-black {
    background: #000;
}

.d-none {
    display: none;
}
