/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

/*Specification start*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
    background: #090A0A;
    height: 100vh;
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
    color: inherit;
}

input:focus, button:focus { 
	outline: none 
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

input{
	padding: 0;
	margin: 0;
	border: none;
}

.container {
	margin: 0 auto;
    padding: 0 5vw;
}

.pos-rel-muse {
    position: relative;
}


/* MUSE-s0-device */
.s0-device {
    height: 100vh;
    padding-bottom: 9vw;
}

.muse-dev-header {
    display: flex;
    padding: 4vw 5vw 4.2vw;
    background: #1E1E1E;
    align-items: center;
    position: relative;
}

.muse-dev-header__digit {
    width: 10.5vw;
    background: #0A0909;
    height: 8vw;
    display: flex;
    border-radius: 1.8vw;
    align-items: center;
    justify-content: center;
    font-size: 4.7vw;
    line-height: 100%;
}

.muse-dev-header__team {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 26%;
    border: 1px solid #fff;
    height: 8vw;
    display: flex;
    border-radius: 1.8vw;
    align-items: center;
    justify-content: center;
    font-size: 4.0vw;
}

.muse-dev-header__info {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 8vw;
    height: 8vw;
}

.muse-dev-header__info-icon {
    width: 76%;
    height: 76%;
    object-fit: contain;
}

.muse-dev-header__white {
    fill: #fff;
}

.s0-device__logo {
    margin: 0 auto;
    display: block;
    margin-top: 24vw;
    width: 70vw;
    height: auto;
    margin-bottom: 7vw;
}

.s0-device-art {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41vw;
    width: 58vw;
    margin-bottom: 27vw;
}

.s0-device-art__frame {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.25));
}

.s0-device-art__art-img {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

.muse-dev-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 67vw;
    height: 14vw;
    border-radius: 2vw;
    background: #CF8A54;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 4.4vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s0-device__logo {
        margin-bottom: 13vw;
        margin-top: 32vw;
    }

    .s0-device-art {
        height: 51vw;
        width: 71vw;
        margin-bottom: 32vw;
    }
}

@media (min-width: 380px) and (max-width: 450px) { 
    .s0-device__logo {
        margin-bottom: 13vw;
        margin-top: 14vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    
    .muse-dev-header {
        padding: 2.8vw 5vw 2.8vw;
    }

    .muse-dev-header__digit {
        width: 8.5vw;
        height: 4.4vw;
        font-size: 3.2vw;
    }

    .muse-dev-header__team {
        width: 26%;
        border: 1px solid #fff;
        height: 4.4vw;
        border-radius: 0.8vw;
        font-size: 3vw;
    }

    .muse-dev-header__info {
        width: 4.4vw;
        height: 4.4vw;
    }

    .s0-device__logo {
        margin-bottom: 10vw;
        margin-top: 9vw;
        width: 55vw;
    }

    .s0-device-art {
        margin-bottom: 16vw;
    }

    .muse-dev-btn {
        width: 43vw;
        height: 9vw;
        font-size: 3.4vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s0-device__logo {
        margin-top: 15vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .muse-dev-header__team {
        height: 6.4vw;
        font-size: 3.3vw;
    }

    .muse-dev-header__digit {
        height: 6.4vw;
    }

    .muse-dev-header__info {
        width: 6.4vw;
        height: 6.4vw;
    }

    .s0-device__logo {
        margin-top: 20vw;
        width: 63vw;
    }

    .muse-dev-btn {
        width: 65vw;
        height: 12vw;
    }
}

/* MUSE-s1-device-critique */
.muse-dev-messag-bar {
    width: 100%;
    text-align: center;
    background: #1E1E1E;
    border-radius: 1vw;
    margin-top: 5vw;
    font-size: 4vw;
    padding: 2.2vw;
    margin-bottom: 6vw;
}

.muse-dev-white-title {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 4vw;
    font-weight: 400;
}

.muse-dev-title-lines {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vw;
}

.muse-dev-title-lines__line-item {
    width: 100%;
    height: 1px;
    background: #DFAF89;
}

.muse-dev-title-lines__title {
    font-size: 5vw;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #DFAF89;
    padding: 0 5vw;
}

.muse-gallery-dev__star-wrapper {
    display: flex;
    justify-content: center;
}

.muse-gallery-dev__star-item {
    position: relative;
    width: 10.3vw;
    height: 10.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.muse-gallery-dev__icon-active {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    left: 0;
}

.muse-gallery-dev__icon-color {
    width: 10.3vw;
    height: 10.3vw;
    object-fit: contain;
}

.muse-gallery-dev__icon-grey {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

.muse-gallery-dev__star-item:not(:last-of-type) {
    margin-right: 2.3vw;
}

.s0-device-full-line {
    height: 1px;
    background: #7B7B7B;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.device-qritique__title {
    font-size: 5vw;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #DFAF89;
    text-align: center;
    margin-bottom: 1vw;
}

.device-qritique__subtitle {
    text-align: center;
    font-size: 4vw;
    color: #D0D6DC;
}

.device-qritique__btn-wrapper {
    margin-top: 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* input checkbox start*/
.device-qritique__btn-item {
    margin-bottom: 2.5vw;
}

.device-qritique__check {
    display: none;
}

.device-qritique__check-label {
    width: 42vw;
    height: 8.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.4vw;
    padding: 2.89vw 0;
    position: relative;
    z-index: 2;
}

.device-qritique__check+label {
    align-items: center;
    user-select: none;
}

  .device-qritique__check-label-txt {
    z-index: 4;
    position: absolute;
}

  .device-qritique__check+label::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #657687;
    border-radius: 1.2vw;
    position: absolute;
    z-index: 2;
}

  .device-qritique__check:checked+label::after {
    background-color: #CF8A54;
}

  .muse-dev-btn_critique {
    width: 100%;
    margin-top: 4vw;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .s0-device-full-line {
        margin-top: 10vw;
        margin-bottom: 18vw;
    }

    .device-qritique__check-label {
        height: 11.7vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .muse-dev-messag-bar {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .muse-dev-white-title {
        font-size: 4vw;
    }

    .muse-gallery-dev__star-item,
    .muse-gallery-dev__icon-color {
        width: 7.3vw;
        height: 7.3vw;
    }

    .s0-device-full-line {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    .device-qritique__btn-wrapper {
        margin-top: 4vw;
    }

    .device-qritique__check-label {
        height: 6.7vw;
        font-size: 3.4vw;
    }

    .muse-dev-btn_critique {
        width: 100%;
        margin-top: 1vw;
    }

    
}


@media (min-width: 799px) and (min-height: 1279px) { 
    .device-qritique__check-label {
        height: 8.7vw;
    }

    .s0-device-full-line {
        margin-bottom: 6vw;
    }

    .muse-dev-btn_critique {
        width: 100%;
        margin-top: 3vw;
    }
} 


/* MUSE-s1-device-bid */
.muse-dev-title-lines__line-item_bid {
    width: 22%;
}

.muse-dev-bid-switch {
    background: #2E3032;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5vw;
    margin-top: 10.5vw;
    padding: 1.5vw;
}

.muse-dev-bid-switch__btn {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.2vw;
    background: #657687;
    border-radius: 1.5vw;
    height: 4vw;
    height: 12vw;
}

.muse-dev-bid-form {
    background: #2B2B2B;
    border-top: 1px solid #7B7B7B;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 9vw;
    padding-bottom: 11.7vw;
}

.muse-dev-bid-form__title {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 8vw;
}

.muse-dev-bid-form__input-wrapper {
    position: relative;
}

.muse-dev-bid-form__input-symb {
    position: absolute;
    color: #657687;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-size: 8.5vw;
    top: 2.2vw;
    left: 3vw;
}

.muse-dev-bid-form__input {
    width: 100%;
    height: 15vw;
    padding-left: 9vw;
    font-size: 8.5vw;
    font-family: 'Inter', sans-serif;
    color: #657687;
    font-weight: 300;
    border-radius: 2vw;
}

.muse-dev-bid-form__input::placeholder {
    color: #657687;
}

.muse-dev-bid-form__txt {
    text-align: center;
    font-size: 3.92vw;
    margin-top: 5vw;
    margin-bottom: 13vw;
}

.muse-dev-btn_bid {
    width: 100%;
    background: #657687;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .muse-dev-bid-switch {
        margin-top: 20.5vw;
    }

    .muse-dev-bid-form {
        padding-top: 14vw;
        padding-bottom: 18.7vw;
    }

    .muse-dev-bid-form__txt {
        margin-top: 10vw;
        margin-bottom: 16vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .muse-dev-bid-switch__btn {
        height: 10vw;
    }

    .muse-dev-bid-form {
        padding-top: 3vw;
        padding-bottom: 6.7vw;
    }

    .muse-dev-bid-form__title {
        margin-bottom: 6vw;
    }

    .muse-dev-bid-form__txt {
        margin-top: 4vw;
        margin-bottom: 6vw;
    }

    .muse-dev-bid-form__input-symb {
        font-size: 7.5vw;
        top: 1.4vw;
    }

    .muse-dev-bid-form__input {
        height: 12vw;
        padding-left: 9vw;
        font-size: 7.5vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .muse-dev-bid-form {
        padding-top: 9vw;
        padding-bottom: 11.7vw;
    }

    .muse-dev-bid-form__title {
        margin-bottom: 8vw;
    }

    .muse-dev-bid-form__txt {
        margin-top: 5vw;
        margin-bottom: 13vw;
    }
}

/* MUSE-s1-device-wait */
.muse-dev-title-lines__play-wrapper {
    display: flex;
    align-items: center;
}

.muse-dev-title-lines_wait {
    margin-top: 5.5vw;
}

.muse-dev-title-lines__line-item_wait {
    width: 15%;
}

.muse-dev-title-lines__digit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    width: 8.6vw;
    height: 8.6vw;
    font-weight: 700;
    font-size: 5.35vw;
    margin-right: 3vw;
    text-align: center;
    padding-left: 0.2vw;
    background: #FF6006;
}

.muse-dev-title-lines__nick {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 5vw;
    color: #DFAF89;
}

.s1-device-wait-ratings__title {
    text-align: center;
    font-size: 5vw;
    margin-top: 2vw;
    margin-bottom: 4.6vw;
}

.s1-device-wait-rating__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vw;
    padding-bottom: 3.4vw;
    border-bottom: 1px solid #7B7B7B;
}

.s1-device-wait-rating__item:first-of-type {
    border-top: 1px solid #7B7B7B;
}

.s1-device-wait-rating__item:nth-child(even) {
    background: #2B2B2B;
}

.s1-device-wait-rating__item-name {
    font-size: 5vw;
}

.muse-gallery-dev__star-item_size,
.muse-gallery-dev__icon-color_size {
    width: 8.3vw;
    height: 8.3vw;
}

.s1-device-wait-rating__item-txt-ital {
    font-style: italic;
    color: #D0D6DC;
    margin-top: 3vw;
    font-size: 4.5vw;
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .muse-dev-title-lines__digit {
        width: 6.6vw;
        height: 6.6vw;
        font-size: 4.35vw;
    }

    .muse-dev-title-lines__nick {
        font-size: 4vw;
    }

    .muse-gallery-dev__star-item_size, 
    .muse-gallery-dev__icon-color_size {
        width: 5.3vw;
        height: 5.3vw;
    }

    .s1-device-wait-ratings__title {
        font-size: 3.5vw;
        margin-top: 2vw;
        margin-bottom: 2.6vw;
    }

    .s1-device-wait-rating__item {
        padding-top: 3vw;
        padding-bottom: 2.4vw;
    }

    .s1-device-wait-rating__item-name {
        font-size: 3.7vw;
        margin-bottom: 1vw;
    }

    .s1-device-wait-rating__item-txt-ital {
        margin-top: 1vw;
        font-size: 4.5vw;
    }
}

/* MUSE-s2-device */
.s2-device {
    height: 100vh;
    padding-bottom: 9vw;
}

.MUSE-s2-dev-user-wrapper:not(:first-of-type) {
    margin-top: 10vw;
}

.muse-dev-title-lines_s2-dev {
    margin-bottom: 4vw;
}

.MUSE-s2-dev-user {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 14vw;
    background: #657687;
    align-items: center;
    border-radius: 2vw;
    font-size: 4.4vw;
}

.MUSE-s2-dev-user__total {
    margin-right: 2vw;
}

.MUSE-s2-dev-user:not(:last-of-type) {
    margin-bottom: 4vw;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .MUSE-s2-dev-user {
        height: 17vw;
    }

    .MUSE-s2-dev-user-wrapper {
        margin-top: 15vw;
    }
    
    .MUSE-s2-dev-user:not(:last-of-type) {
        margin-bottom: 6vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .MUSE-s2-dev-user:not(:last-of-type) {
        margin-bottom: 2vw;
    }

    .MUSE-s2-dev-user {
        height: 10vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .MUSE-s2-dev-user:not(:last-of-type) {
        margin-bottom: 4vw;
    }

    .MUSE-s2-dev-user {
        height: 14vw;
    }
}


/* MUSE-s3-device-card3 */
.s2-device-c3 {
    height: 100vh;
    padding-bottom: 9vw;
    background: #2B2B2B;
}

.s2-device-c3-art {
    background: #090A0A;
    padding: 8vw 0 7vw;
}

.s2-device-c3-art__title {
    font-size: 5vw;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #DFAF89;
    text-align: center;
    text-transform: uppercase;
}

.s2-device-c3-art__subtitle {
    text-align: center;
    font-size: 5vw;
    margin-top: 1.8vw;
    margin-bottom: 6vw;
}

.s2-device-c3-art__inner {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51vw;
    width: 72vw;
    margin-bottom: 5vw;
}

.s2-device-c3-art__frame {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.25));
}

.s2-device-c3-art__art-img {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

.s2-device-c3-art__bot-title {
    font-size: 5vw;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #DFAF89;
    text-align: center;
    text-transform: uppercase;
}

.s2-device-c3-info {
    border-top: 1px solid #7B7B7B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vw;
}

.s2-device-c3-info__top-txt {
    font-size: 4vw;
}

.s2-device-c3-info__total {
    font-size: 7vw;
    font-weight: 700;
    letter-spacing: 0.15em;
    margin-top: 2vw;
    color: #DFAF89;
}

.s2-device-c3-info__line {
    height: 1px;
    display: block;
    width: 28vw;
    background: #7B7B7B;
    margin-top: 4.7vw;
    margin-bottom: 5.5vw;
}

.s2-device-c3-info__plus-digit {
    font-size: 12.4vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #DFAF89;
    line-height: 100%;
}

.s2-device-c3-info__bot-txt {
    font-size: 4vw;
    letter-spacing: 0.15em;
    color: #DFAF89;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .s2-device-c3-art {
        padding: 13vw 0 13vw;
    }

    .s2-device-c3-art__subtitle {
        margin-bottom: 9vw;
    }

    .s2-device-c3-art__inner {
        margin-bottom: 11vw;
    }

    .s2-device-c3-info {
        padding-top: 10vw;
    }

    .s2-device-c3-info__line {
        margin-top: 8.7vw;
        margin-bottom: 8.5vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s2-device-c3-art {
        padding: 4vw 0;
    }

    .s2-device-c3-art__subtitle {
        font-size: 3.5vw;
        margin-top: 1.4vw;
        margin-bottom: 3vw;
    }

    .s2-device-c3-art__inner {
        height: 48vw;
        width: 67vw;
        margin-bottom: 2vw;
    }

    .s2-device-c3-info {
        padding-top: 3vw;
    }

    .s2-device-c3-info__total {
        margin-top: 1vw;
    }

    .s2-device-c3-info__line {
        margin-top: 2.7vw;
        margin-bottom: 2.5vw;
    }

    .s2-device-c3-info__plus-digit {
        font-size: 10.4vw;
    }

    .s2-device-c3-info__bot-txt {
        font-size: 3.4vw;
    }

}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s2-device-c3-art {
        padding: 7vw 0 9vw;
    }

    .s2-device-c3-art__subtitle {
        margin-bottom: 5vw;
    }

    .s2-device-c3-info {
        padding-top: 5vw;
    }

    .s2-device-c3-art__inner {
        margin-bottom: 4vw;
    }

    .s2-device-c3-info__total {
        margin-top: 2vw;
    }

    .s2-device-c3-info__line {
        margin-top: 5.7vw;
        margin-bottom: 5.5vw;
    }

    .s2-device-c3-info__bot-txt {
        margin-top: 1vw;
    }
}

/* MUSE-s3-device-card3-fail */
.s2-device-c3_fail {
    height: 100vh;
    padding-bottom: 9vw;
}

.MUSE-s3-device-card3-fail__title {
    text-align: center;
    font-weight: 700;
    color: #DFAF89;
    margin-top: 20vw;
    font-size: 8.2vw;
    letter-spacing: 0.15em;
    margin-bottom: 16vw;
}

.MUSE-s3-device-card3-fail__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vw 0;
    background: #2B2B2B;
    border-top: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
}

.MUSE-s3-device-card3-fail__txt-item {
    width: 63%;
    font-size: 6.8vw;
    text-align: center;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .MUSE-s3-device-card3-fail__title {
        margin-bottom: 25vw;
    }

    .MUSE-s3-device-card3-fail__txt {
        padding: 13vw 0;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .MUSE-s3-device-card3-fail__txt-item {
        font-size: 3.8vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .MUSE-s3-device-card3-fail__txt-item {
        width: 52%;
        font-size: 4.8vw;
    }
}

/* MUSE-s3-device-card4 */
.s3-device-c {
    background: #2B2B2B;
}

.s3-device-c-digit {
    padding-top: 5.5vw;
    background: #090A0A;
    padding-bottom: 6vw;
}

.s3-device-c-digit__white-digit {
    text-align: center;
    text-transform: uppercase;
    font-size: 12.5vw;
    font-weight: 700;
    margin-top: 4vw;
}

.s3-device-c-digit__small-txt {
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 4.2vw;
    color: #D0D6DC;
}

.s3-device-c-digit__yell-digit {
    text-align: center;
    text-transform: uppercase;
    font-size: 12.5vw;
    font-weight: 700;
    margin-top: 4vw;
    color: #DFAF89;
}

.s3-device-c-digit__small-txt-yell {
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 4.2vw;
    color: #DFAF89;
    margin-top: 1vw;
}

.s3-dev-c4-team {
    border-top: 1px solid #7B7B7B;
}

.s3-dev-c4-team__item {
    display: flex;
    padding: 7.1vw 6vw;
    align-items: center;
    border-bottom: 1px solid #7B7B7B;
}

.s3-dev-c4-team__item:last-of-type {
    border-bottom: 0px solid #7B7B7B;
}

.s3-dev-c4-team__place {
    text-transform: uppercase;
    font-weight: 700;
    color: #DFAF89;
    letter-spacing: 0.15em;
    font-size: 5vw;
    margin-right: 6.4vw;
}

.s3-dev-c4-team__digit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    width: 8.6vw;
    height: 8.6vw;
    font-weight: 700;
    font-size: 5.35vw;
    margin-right: 5vw;
    text-align: center;
    padding-left: 0.2vw;
    background: #FF6006;
}

.s3-dev-c4-team__name {
    font-size: 5vw;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media (min-width: 364px) and (min-height: 665px) { 
    .s3-device-c-digit {
        padding-bottom: 5.5vw;
    }
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .s3-device-c-digit {
        padding-top: 10.5vw;
        padding-bottom: 21vw;
    }

    .s3-device-c-digit__white-digit {
        margin-top: 7vw;
    }

    .s3-device-c-digit__yell-digit {
        margin-top: 19vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s3-device-c-digit__white-digit {
        font-size: 9.5vw;
    }

    .s3-dev-c4-team__item {
        padding: 5vw 6vw;
    }

    .s3-device-c-digit__yell-digit {
        margin-top: 3vw;
        font-size: 9.5vw;
    }

    .s3-device-c-digit__small-txt,
    .s3-device-c-digit__small-txt-yell {
        font-size: 3.2vw;
    }

    .s3-dev-c4-team__place,
    .s3-dev-c4-team__name {
        font-size: 4vw;
    }

    .s3-dev-c4-team__digit {
        width: 6.6vw;
        height: 6.6vw;
        font-size: 4.35vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s3-device-c-digit__yell-digit {
        margin-top: 5vw;
    }

    .s3-device-c-digit__white-digit {
        margin-top: 5vw;
    }

    .s3-device-c-digit {
        padding-bottom: 11.5vw;
    }

    .s3-dev-c4-team__item {
        padding: 7vw 6vw;
    }
}

/* MUSE-s4-device-card1 */
.MUSE-s4-device-card1 {
    height: 100vh;
    padding-bottom: 9vw;
}

.MUSE-s4-device-card1__title {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    color: #fff;
    margin-top: 17.6vw;
    font-size: 8.2vw;
    letter-spacing: 0.15em;
    margin-bottom: 11vw;
    padding: 3vw 0;
    background: #16D8A9;
    border-radius: 20vw;
    text-transform: uppercase;
}

.MUSE-s4-device-card1__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vw 0;
    background: #2B2B2B;
    border-top: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
}

.MUSE-s4-device-card1__txt-item {
    width: 87%;
    font-size: 6.8vw;
    text-align: center;
}

.MUSE-s4-device-card1__total {
    font-size: 12.2vw;
    text-align: center;
    color: #16D8A9;
    font-weight: 700;
    margin-top: 26vw;
}

.MUSE-s4-device-card1__bottom-txt {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 4.2vw;
    margin-top: 2vw;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .MUSE-s4-device-card1__title {
        margin-top: 21.6vw;
        margin-bottom: 24vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .MUSE-s4-device-card1__title {
        width: 50vw;
        margin-top: 11.6vw;
        font-size: 7.2vw;
        margin-bottom: 14vw;
        padding: 1vw 0;
    }

    .MUSE-s4-device-card1__txt-item {
        width: 60%;
        font-size: 4.8vw;
        text-align: center;
    }

    .MUSE-s4-device-card1__total {
        margin-top: 12vw;
    }
}

/* MUSE-s4-device-card3 */
.dev-card-place {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    margin: 0 auto;
    margin-top: 5vw;
}

.dev-card-place__icon {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.dev-card-place__digit {
    position: absolute;
    text-align: center;
    font-size: 8vw;
    font-weight: 700;
    top: 2.2vw;
    color: #DFAF89;
}

.s3-device-c-digit__white-digit_s4 {
    margin-top: 1vw;
}

.s3-device-c-digit__yell-digit_s4 {
    margin-top: 1vw;
}

.dev-c-list__item {
    display: flex;
    align-items: center;
    padding: 4.5vw 4vw 4.5vw 0;
}

.dev-c-list__item:not(:last-of-type) {
    border-bottom: 1px solid #7B7B7B;
}

.dev-c-list__status {
    height: 13vw;
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dev-c-list__fired {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7vw;
    font-weight: 500;
    letter-spacing: 0.1em;
    background: #D42044;
    height: 6vw;
    border-radius: 5vw;
}

.dev-c-list__digit-place {
    position: absolute;
    top: 2vw;
    font-size: 5.4vw;
    font-weight: 700;
    color: #DFAF89;
}

.dev-c-list__icon-item {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dev-c-list__name,
.dev-c-list__total {
    font-size: 5vw;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #D0D6DC;
    margin-left: 3vw;
}

.dev-c-list__total {
    margin-left: auto;
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .dev-card-place {
        width: 14vw;
        margin-top: 3vw;
    }

    .dev-c-list__item {
        padding: 2vw 4vw 2vw 0;
    }

    .dev-c-list__status {
        height: 11vw;
        width: 16vw;
    }

    .dev-c-list__digit-place {
        font-size: 4vw;
    }

    .dev-c-list__name, .dev-c-list__total {
        font-size: 4vw;
        margin-left: 5vw;
    }

    .dev-c-list__total {
        margin-left: auto;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .dev-c-list__item {
        padding: 3.5vw 4vw 3.5vw 0;
    }
}

/* MUSE-help1 */
.MUSE-help {
    height: 100vh;
    padding-bottom: 9vw;
}

.muse-dev-header__yellow {
    fill: #DFAF89;
}

.MUSE-help-inner {
    padding-top: 8vw;
}

.MUSE-help-item {
    width: 56vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.MUSE-help-item:not(:last-of-type) {
    margin-bottom: 2vw;
}

.MUSE-help-item__icon {
    width: 20vw;
    height: 20vw;
    object-fit: contain;
}

.MUSE-help-item__txt {
    text-align: center;
    font-size: 5vw;
}

.MUSE-help-item__line {
    height: 1px;
    width: 43vw;
    background: #7B7B7B;
    margin-top: 2vw;
}

.MUSE-help-btn__wrapper {
    margin-top: 8vw;
}

.MUSE-help-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 43vw;
    height: 11vw;
    border-radius: 2vw;
    background: #CF8A54;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 4.4vw;
}

.MUSE-help-btn:first-of-type {
    margin-bottom: 4vw;
}

.MUSE-help-btn_color {
    background: #657687;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    
    .MUSE-help-item:not(:last-of-type) {
        margin-bottom: 13vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .MUSE-help-inner {
        padding-top: 5vw;
    }
    
    .MUSE-help-item__txt {
        font-size: 3.4vw;
    }

    .MUSE-help-item__icon {
        width: 16vw;
        height: 16vw;
    }

    .MUSE-help-btn {
        height: 8vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .MUSE-help-inner {
        padding-top: 8vw;
    }

    .MUSE-help-item__txt {
        font-size: 4vw;
    }

    .MUSE-help-btn__wrapper {
        margin-top: 13vw;
    }
}

/* MUSE-help2 */
.muse-gallery-dev__star-wrapper_help {
    margin-bottom: 3vw;
}

.MUSE-help-item__icon_width {
    width: 30vw;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .MUSE-help-btn__wrapper_help2 {
        margin-top: 22vw;
    }
}


@media (min-width: 767px) and (min-height: 1023px) { 
    .muse-gallery-dev__star-wrapper_help {
        margin-bottom: 3vw;
        margin-top: 11vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .muse-gallery-dev__star-wrapper_help {
        margin-bottom: 3vw;
        margin-top: 8vw;
    }
}

/* MUSE-help3 */
.MUSE-help-inner_help3 {
    padding-top: 17vw;
}

.MUSE-help-inner_help3 .MUSE-help-item:first-child {
    margin-bottom: 9vw;
}

.MUSE-help-inner_help3 .MUSE-help-item:nth-child(2) {
    margin-bottom: 18vw;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .MUSE-help-inner_help3 {
        padding-top: 23vw;
    }

    .MUSE-help-inner_help3 .MUSE-help-item:first-child {
        margin-bottom: 20vw;
    }

    .MUSE-help-inner_help3 .MUSE-help-item:nth-child(2) {
        margin-bottom: 33vw;
    }
}

/* MUSE-team-popUp */
.MUSE-team-popUp {
    height: 100vh;
    padding-bottom: 9vw;
}

.muse-dev-header__team_yellow {
    border: none;
    background: #DFAF89;
    color: #1E1E1E;
}

.MUSE-team-popUp__title {
    text-align: center;
    margin: 0 auto;
    margin-top: 32vw;
    font-size: 10vw;
    width: 40vw;
    font-weight: 500;
}

.MUSE-team-popUp__txt {
    text-align: center;
    margin-top: 12vw;
    font-size: 7vw;
    font-weight: 500;
    margin-bottom: 16vw;
}

.MUSE-help-btn_popUp {
    width: 55vw;
}

.MUSE-help-btn_popUp-color {
    width: 55vw;
    background: #D42044;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 


    .MUSE-team-popUp__title {
        margin-top: 43vw;
        font-size: 15vw;
    }

    .MUSE-team-popUp__txt {
        margin-bottom: 43vw;
    }
}

/* MUSE-team */
.s3-device-c-digit-team {
    padding: 7vw 0 13vw;
}

.muse-team-members {
    padding-bottom: 3vw;
}

.muse-team-members__title {
    border-top: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    text-align: center;
    font-size: 5vw;
    color: #D0D6DC;
    margin-top: 5vw;
    padding: 4.2vw 0;
    margin-bottom: 3vw;
}

.muse-team-members__user {
    text-align: center;
    font-size: 3.4vw;
}

.muse-team-members__user:not(:last-child) {
    margin-bottom: 5vw;
}

.team-main-digits {
    border-top: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    background: #2B2B2B;
    padding: 4vw 0;
}

.team-main-digits__white-digit {
    text-align: center;
    text-transform: uppercase;
    font-size: 12.5vw;
    font-weight: 700;
}

.team-main-digits__small-txt {
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 4.2vw;
    color: #D0D6DC;
}

.team-main-digits__line {
    height: 1px;
    width: 60vw;
    background: #7B7B7B;
    margin: 0 auto;
    margin-top: 3vw;
}

.team-main-digits__yell-digit {
    text-align: center;
    text-transform: uppercase;
    font-size: 12.5vw;
    font-weight: 700;
    margin-top: 4vw;
    color: #DFAF89;
}

.team-main-digits__small-txt-yell {
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 4.2vw;
    color: #DFAF89;
    margin-top: 1vw;
}

.muse-team-gallery__title {
    border-bottom: 1px solid #7B7B7B;
    text-align: center;
    font-size: 5vw;
    color: #D0D6DC;
    padding: 4.2vw 0;
    margin-bottom: 7vw;
}

.muse-team-gallery__item {
    padding-bottom: 5vw;
}

.muse-team-gallery__art-wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41vw;
    width: 58vw;
    margin-bottom: 4vw;
}

.muse-team-gallery__frame {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.25));
}

.muse-team-gallery__art-img {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

.muse-team-gallery__star-wrapper {
    display: flex;
    justify-content: center;
}

.muse-team-gallery__star-item {
    position: relative;
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.muse-team-gallery__star-item:not(:last-of-type) {
    margin-right: 2.3vw;
}

.muse-team-gallery__icon-active {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    left: 0;
}

.icon-active__icon-color {
    width: 5vw;
    height: 5vw;
    object-fit: contain;
}

.icon-active__icon-grey {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

.muse-team-gallery__small-txt-yell {
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 4.2vw;
    color: #DFAF89;
    margin-top: 3vw;
}

.muse-team-gallery__price {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
}

.muse-team-gallery__line {
    height: 1px;
    background: #7B7B7B;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 8vw;
}

.MUSE-team-btn__wrapper {
    margin-top: 1vw;
}

.MUSE-team-btn__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 43vw;
    height: 11vw;
    border-radius: 2vw;
    background: #CF8A54;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 4.4vw;
}

.MUSE-team-btn__btn_red {
    background: #D42044;
    margin-top: 4vw;
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .muse-team-members__title,
    .muse-team-gallery__title {
        font-size: 4vw;
        margin-top: 3vw;
        padding: 2.2vw 0;
        margin-bottom: 2vw;
    }

    .muse-team-gallery__title {
        margin-bottom: 6vw;
    }

    .muse-team-members__user:not(:last-child) {
        margin-bottom: 3vw;
    }

    .team-main-digits__white-digit {
        font-size: 9.5vw;
    }

    .team-main-digits__small-txt {
        font-size: 3.2vw;
    }

    .team-main-digits__yell-digit {
        margin-top: 3vw;
        font-size: 9.5vw;
    }

    .team-main-digits__small-txt-yell {
        font-size: 3.2vw;
    }
}
















/* library */
.muse-gallery-dev__icon-active_width {
    width: 45%;
}

.bg-orange {
    background: #CF8A54;
}

.bg-green-succes {
    background: #16D8A9;
}

.muse-orange {
    background: #FF6006;
}

.muse-green {
    background: #028A80;
}

.muse-purp {
    background: #44217C;
}

.muse-blue {
    background: #2662FC;
}

.muse-yellow {
    background: #FDA003;
}

.muse-light-green {
    background: #4CAF52;
}





/* @media (min-width: 359px) and (min-height: 700px) { 

}

@media (min-width: 767px) and (min-height: 1023px) { 

}

@media (min-width: 719px) and (min-height: 1279px) { 

}

@media (min-width: 799px) and (min-height: 1279px) { 

} */