/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

/*Specification start*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
    background: #090A0A;
    height: 100vh;
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
    color: inherit;
}

input:focus, button:focus { 
	outline: none 
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
}

input{
	padding: 0;
	margin: 0;
	border: none;
}

.container {
	margin: 0 auto;
    padding: 0 5vw;
}


/* MUSE-s0-device */
.s0-device {
    height: 100vh;
    padding-bottom: 9vw;
}

.muse-dev-header {
    display: flex;
    padding: 4vw 5vw 4.2vw;
    background: #1E1E1E;
    align-items: center;
    position: relative;
}

.muse-dev-header__digit {
    width: 10.5vw;
    background: #0A0909;
    height: 8vw;
    display: flex;
    border-radius: 1.8vw;
    align-items: center;
    justify-content: center;
    font-size: 4.7vw;
    line-height: 100%;
}

.muse-dev-header__team {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 26%;
    border: 1px solid #fff;
    height: 8vw;
    display: flex;
    border-radius: 1.8vw;
    align-items: center;
    justify-content: center;
    font-size: 4.0vw;
}

.muse-dev-header__info {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 8vw;
    height: 8vw;
}

.muse-dev-header__info-icon {
    width: 76%;
    height: 76%;
    object-fit: contain;
}

.s0-device__logo {
    margin: 0 auto;
    display: block;
    margin-top: 24vw;
    width: 70vw;
    height: auto;
    margin-bottom: 7vw;
}

.s0-device-art {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41vw;
    width: 58vw;
    margin-bottom: 27vw;
}

.s0-device-art__frame {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.25));
}

.s0-device-art__art-img {
    width: 88%;
    height: 88%;
    object-fit: contain;
}

.muse-dev-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 67vw;
    height: 14vw;
    border-radius: 2vw;
    background: #CF8A54;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 4.4vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s0-device__logo {
        margin-bottom: 13vw;
        margin-top: 32vw;
    }

    .s0-device-art {
        height: 51vw;
        width: 71vw;
        margin-bottom: 32vw;
    }
}

@media (min-width: 380px) and (max-width: 450px) { 
    .s0-device__logo {
        margin-bottom: 13vw;
        margin-top: 14vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    
    .muse-dev-header {
        padding: 2.8vw 5vw 2.8vw;
    }

    .muse-dev-header__digit {
        width: 8.5vw;
        height: 4.4vw;
        font-size: 3.2vw;
    }

    .muse-dev-header__team {
        width: 26%;
        border: 1px solid #fff;
        height: 4.4vw;
        border-radius: 0.8vw;
        font-size: 3vw;
    }

    .muse-dev-header__info {
        width: 4.4vw;
        height: 4.4vw;
    }

    .s0-device__logo {
        margin-bottom: 10vw;
        margin-top: 9vw;
        width: 55vw;
    }

    .s0-device-art {
        margin-bottom: 16vw;
    }

    .muse-dev-btn {
        width: 43vw;
        height: 9vw;
        font-size: 3.4vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s0-device__logo {
        margin-top: 15vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .muse-dev-header__team {
        height: 6.4vw;
        font-size: 3.3vw;
    }

    .muse-dev-header__digit {
        height: 6.4vw;
    }

    .muse-dev-header__info {
        width: 6.4vw;
        height: 6.4vw;
    }

    .s0-device__logo {
        margin-top: 20vw;
        width: 63vw;
    }

    .muse-dev-btn {
        width: 65vw;
        height: 12vw;
    }
}

/* MUSE-s1-device-critique */
.muse-dev-messag-bar {
    width: 100%;
    text-align: center;
    background: #1E1E1E;
    border-radius: 1vw;
    margin-top: 5vw;
    font-size: 4vw;
    padding: 2.2vw;
    margin-bottom: 6vw;
}

.muse-dev-white-title {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 4vw;
}

.muse-dev-title-lines {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vw;
}

.muse-dev-title-lines__line-item {
    width: 100%;
    height: 1px;
    background: #DFAF89;
}

.muse-dev-title-lines__title {
    font-size: 5vw;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #DFAF89;
    padding: 0 5vw;
}

.muse-gallery-dev__star-wrapper {
    display: flex;
    justify-content: center;
}

.muse-gallery-dev__star-item {
    position: relative;
    width: 10.3vw;
    height: 10.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.muse-gallery-dev__icon-active {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    left: 0;
}

.muse-gallery-dev__icon-color {
    width: 10.3vw;
    height: 10.3vw;
    object-fit: contain;
}

.muse-gallery-dev__icon-grey {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

.muse-gallery-dev__star-item:not(:last-of-type) {
    margin-right: 2.3vw;
}

.s0-device-full-line {
    height: 1px;
    background: #7B7B7B;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.device-qritique__title {
    font-size: 5vw;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #DFAF89;
    text-align: center;
    margin-bottom: 1vw;
}

.device-qritique__subtitle {
    text-align: center;
    font-size: 4vw;
    color: #D0D6DC;
}

.device-qritique__btn-wrapper {
    margin-top: 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* input checkbox start*/
.device-qritique__btn-item {
    margin-bottom: 2.5vw;
}

.device-qritique__check {
    display: none;
}

.device-qritique__check-label {
    width: 42vw;
    height: 8.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.4vw;
    padding: 2.89vw 0;
    position: relative;
    z-index: 2;
}

.device-qritique__check+label {
    align-items: center;
    user-select: none;
}

  .device-qritique__check-label-txt {
    z-index: 4;
    position: absolute;
}

  .device-qritique__check+label::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #657687;
    border-radius: 1.2vw;
    position: absolute;
    z-index: 2;
}

  .device-qritique__check:checked+label::after {
    background-color: #CF8A54;
}

  .muse-dev-btn_critique {
    width: 100%;
    margin-top: 4vw;
}

@media (min-width: 359px) and (min-height: 700px) and (max-width: 380px) and (min-height: 700px){ 
    .s0-device-full-line {
        margin-top: 10vw;
        margin-bottom: 18vw;
    }

    .device-qritique__check-label {
        height: 11.7vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .muse-dev-messag-bar {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .muse-dev-white-title {
        font-size: 4vw;
    }

    .muse-gallery-dev__star-item,
    .muse-gallery-dev__icon-color {
        width: 7.3vw;
        height: 7.3vw;
    }

    .s0-device-full-line {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    .device-qritique__btn-wrapper {
        margin-top: 4vw;
    }

    .device-qritique__check-label {
        height: 6.7vw;
        font-size: 3.4vw;
    }

    .muse-dev-btn_critique {
        width: 100%;
        margin-top: 1vw;
    }

    
}


@media (min-width: 799px) and (min-height: 1279px) { 
    .device-qritique__check-label {
        height: 8.7vw;
    }

    .s0-device-full-line {
        margin-bottom: 6vw;
    }

    .muse-dev-btn_critique {
        width: 100%;
        margin-top: 3vw;
    }
} 


/* MUSE-s1-device-bid */
.muse-dev-title-lines__line-item_bid {
    width: 22%;
}

.muse-dev-bid-switch {
    background: #2E3032;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5vw;
    margin-top: 10.5vw;
    padding: 1.5vw;
}

.muse-dev-bid-switch__btn {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.2vw;
    background: #657687;
    border-radius: 1.5vw;
    height: 4vw;
    height: 12vw;
}

.muse-dev-bid-form {
    background: #2B2B2B;
    border-top: 1px solid #7B7B7B;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 9vw;
    padding-bottom: 11.7vw;
}

.muse-dev-bid-form__title {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 8vw;
}

.muse-dev-bid-form__input-wrapper {
    position: relative;
}

.muse-dev-bid-form__input-symb {
    position: absolute;
    color: #657687;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-size: 8.5vw;
    top: 2.2vw;
    left: 3vw;
}

.muse-dev-bid-form__input {
    width: 100%;
    height: 15vw;
    padding-left: 9vw;
    font-size: 8.5vw;
    font-family: 'Inter', sans-serif;
    color: #657687;
    font-weight: 300;
    border-radius: 2vw;
}

.muse-dev-bid-form__input::placeholder {
    color: #657687;
}

.muse-dev-bid-form__txt {
    text-align: center;
    font-size: 3.92vw;
    margin-top: 5vw;
    margin-bottom: 13vw;
}

.muse-dev-btn_bid {
    width: 100%;
    background: #657687;
}


















.muse-gallery-dev__icon-active_width {
    width: 45%;
}

.bg-orange {
    background: #CF8A54;
}








/* @media (min-width: 359px) and (min-height: 700px) { 

}

@media (min-width: 767px) and (min-height: 1023px) { 

}

@media (min-width: 719px) and (min-height: 1279px) { 

}

@media (min-width: 799px) and (min-height: 1279px) { 

} */